In [6]:
import retrieve_data as rd
import pandas as pd

rd.weekly_vaccination_rates.head()

       City                            Area          Date  VaccinationRate
0  Limerick        Newcastle West, Limerick  2021 January              2.2
1  Limerick       Adare-Rathkeale, Limerick  2021 January              NaN
2  Limerick  Cappamore-Kilmallock, Limerick  2021 January              2.1
3  Limerick    Limerick City West, Limerick  2021 January              NaN
4  Limerick   Limerick City North, Limerick  2021 January              3.0